<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="" id="logo" alt="logo">
        <nav>
            <a href="">Support</a>
            <a href="">Instagram</a>
            <button>Get Started</button>
        </nav>
    </header>
    <main>
        <section>
            <h1 class="title">Boost your bussiness with technology desinged for you.</h1>
            <button>Get Started</button>
        </section>
        <section class="prices-section">
            <p>Prices do <span>not include</span> hosting & domain</p>
            <p>These options do <span>not include</span> maintenance</p>
            <p>Maintenance service can be added to each of these options for the price of <span>$49 USD</span> per month</p>
            <p>Hosting & domain prices might vary in regions</p>
            <div class="card">
                <h2>Static Web Page</h2>
                <p>So called 'Landing Page', this page will serve as an introduction for the company/bussiness. Includes information about the services provided, prices, contact, etc.</p>
                <p>Price: <span>$150 USD</span></p>
                <ul>
                    <p>This option does <span>not</span> include</p>
                    <li>Data base</li>
                    <li>Login/Register</li>
                </ul>
            </div>
            <div class="card">
                <h2>Interactive Web Page</h2>
                <p>This page presents a well thought desing aiming to engage with the visitor. Includes interactivity/animations</p>
                <p>Price: <span>$225 USD</span></p>
            </div>
            <div class="card">
                <h2>e-commerce</h2>
                <p>This option includes data-base & login-registration. Allows owner to login with privileges enabeling options like deleting, modifiying, creating & updating content.</p>
                <p>Price: <span>$500 USD</span></p>
                <ul>
                    <p>This option includes: </p>
                    <li>stock control</li>
                    <li>account creation</li>
                </ul>
            </div>
        </section>
        <section class="faq">
            <h1 class="title">Have a question?</h1>
            <div class="questions">
                <div>
                    <h2>How does it work?</h2>
                    <h3></h3>
                    <button>></button>
                </div>
                <div>
                    <h2>When will I have my page?</h2>
                    <h3></h3>
                    <button>></button>
                </div>
                <div>
                    <h2>Will I be part of the process?</h2>
                    <h3></h3>
                    <button>></button>
                </div>
                <div>
                    <h2>What payment methods do you have?</h2>
                    <h3></h3>
                    <button>></button>
                </div>
                <div>
                    <h2>I have more questions!</h2>
                    <h3></h3>
                    <button>></button>
                </div>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>